@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.text-content p {
  font-size: 1rem;
  font-weight: light;
}

.text-content p:empty {
  margin-block: 1.5rem;
}

.glass {
  position: relative;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px) saturate(180%);
  /* border: 0.4px solid rgba(255, 255, 255, 0.8); */
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.glass::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.85;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

body {
  background: linear-gradient(120deg, #0a0a0a 0%, #11192A 40%, #111728 70%, #2B7FFF 100%);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: gradient-animation 16s ease-in-out infinite;
  overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    background-size: 200% 200%;
    filter: brightness(1);
  }
  25% {
    background-position: 50% 100%;
    background-size: 210% 210%;
    filter: brightness(1.03);
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
    filter: brightness(1.06);
  }
  75% {
    background-position: 50% 0%;
    background-size: 190% 190%;
    filter: brightness(1.03);
  }
  100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
    filter: brightness(1);
  }
}

.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4 {
  color: var(--colorText);
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
  font-family: var(--font-sans);
}

.text-content h1 {
  font-size: 2.75rem;
  line-height: 1.1;
}

.text-content h2 {
  font-size: 2.25rem;
}

.text-content h3 {
  font-size: 1.5rem;
}

.text-content h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

.text-content ol,
.text-content ul {
  list-style: revert;
  padding-left: 1.25rem;
  margin-block: 1.5rem;
}
